
html,body,*{
  padding: 0;
  margin: 0;
}
.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.top{
  min-height: 172px;
  width: 1080px;
  border: 0.1px solid rgb(223, 223, 223);
  border-bottom: none;
  display:flex;
  position: relative;
}
.logo{
  position: absolute;
  top:47px;
  right:48px;
  left:867px;
  height:60px;
  width:165px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  z-index:-1;
  height:69px;
  width:173px;
}
.arrow{
  border-radius:15px;
  position: absolute;
  top:47px;
  right:938px;
  left:60px;
  height:82px;
  width:82px;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow:0px 11px 24px #00000029;
  cursor:pointer;
}
.svg-wrap{
  position: absolute;
  top:26.18px;
  left:26.18px;
  right:26.47px;
  bottom:26.47px;
  height:29.34px;
  width:29.34px;
}
.arrow-svg{
  height:37px;
  width:37px;
  color:#4B4B4B;
}
.menu{
  box-shadow:0px 11px 24px #00000029;
  height:82px;
  width:82px;
  position: absolute;
  left:164px;
  top:47px;
  right:834px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.menu-img{
  /* z-index:-1; */
  position:relative;
  top:0.7px;
  height:85px;
  width:85px;
}
.container{
  height: 1749px;
  width: 1080px;
  background-color: #E7DFD4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.1px solid rgb(223, 223, 223);
  border-top: none;
}
.h-one,.h-two,.h-three,.h-four,.h-five,.h-six{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}
.h-one{
  position: absolute;
  height: 85px;
  width: 464px;
  top:163px;
  left: 308px;
  right:308px;
  bottom:1501px;
  font-size: 64px;
  font-weight: 500;
  color: #303030;
}
.h-two{
  position: absolute;
  height: 96px;
  width: 464px;
  top: 250px;
  bottom:1403px;
  left: 308px;
  right:308px;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2;
  color: #303030;
}
.lemon{
  object-fit: fill;
  position:absolute;
  top: 466px;
  left: 236px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.lemon-img{
  position: relative;
  top: 18px;
  height: 338px;
  width: 338px;
}
.orange{
  position:absolute;
  top:466px;
  right: 226px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.orange-img{
  position: relative;
  top: 22px;
  height: 330px;
  width: 330px;
}
.splash{
  position:absolute;
  top: 842px;
  left: 236px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.splash-img{
  position: relative;
  top: 15px;
  height: 330px;
  width: 330px;
}
.flower{
  position:absolute;
  top: 842px;
  right:226px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.flower-img{
  position: relative;
  top: 16px;
  height: 310px;
  width: 310px;
}
.h-three{
  height:51px;
  width: 563px;
  position:absolute;
  top: 1234px;
  left:259px;
  right:258px;
  bottom: 464px;
  font-size:38px;
  font-weight: 500;
  color: #303030;
}
.h-four{
  height:136px;
  width:464px;
  position:absolute;
  top:1360px;
  left:293px;
  right:323px;
  bottom:253px;
  font-size:58px;
  font-weight: 500;
  color:#959595;
  text-align: center;
  line-height: 1;
}
.h-five{
  position: absolute;
  height:121px;
  width:464px;
  top:1481px;
  left:293px;
  right:323px;
  bottom:147px;
  font-size:91px;
  font-weight:500;
  color: #303030;
}
.h-six{
  position:absolute;
  height:78px;
  width:464px;
  top:1593px;
  left:293px;
  right:323px;
  bottom:78px;
  font-size:58px;
  font-weight:500;
  color:#959595;
}
.hidden {
  display: none;
}
#notSupported {
  padding: 1em;
  background-color: red;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}